@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #seatmap > g {
    cursor: pointer;
  }

  #seatmap g.selected polygon,
  #seatmap g.selected circle,
  #seatmap g.selected path {
    fill: #2dbcb6;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
